body{
    background-color: rgb(124, 124, 161);
    color:rgb(22, 5, 39);
    text-align: center;
}

h1{
    color: rgb(58, 37, 67);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-style: italic;
}


p{
    margin:10px;
    font-size:16px;
    color: rgb(76, 63, 117);
}

button{
    background-color: rgb(58, 37, 67);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
